In [2]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [3]:
# Store filepath for citibike files in 201509 - 201909  in a variable
file_sep_2015 = Path('Resources/JC-201509-citibike-tripdata.csv')
file_sep_2016 = Path('Resources/JC-201609-citibike-tripdata.csv')
file_sep_2017 = Path('Resources/JC-201709-citibike-tripdata.csv')
file_sep_2018 = Path('Resources/JC-201809-citibike-tripdata.csv')
file_sep_2019 = Path('Resources/JC-201909-citibike-tripdata.csv')
file_sep_2020 = Path('Resources/JC-202009-citibike-tripdata.csv')

In [4]:
# Read Sep2015 data file using pd.read_csv
file_sep_2015_df = pd.read_csv(file_sep_2015)
file_sep_2016_df = pd.read_csv(file_sep_2016)
file_sep_2017_df = pd.read_csv(file_sep_2017)
file_sep_2018_df = pd.read_csv(file_sep_2018)
file_sep_2019_df = pd.read_csv(file_sep_2019)
file_sep_2020_df = pd.read_csv(file_sep_2020)
# file_sep_2018_df
# file_sep_2018_df.insert(1,'yearmonth','Sep2018')
# file_sep_2018_df
# # file_sep_2018_df.dtypes

In [5]:
# Add year and month columns to each citibike trip files in the column 1.
file_sep_2015_df.insert(1,'yearmonth','Sep2015')
file_sep_2016_df.insert(1,'yearmonth','Sep2016')
file_sep_2017_df.insert(1,'yearmonth','Sep2017')
file_sep_2018_df.insert(1,'yearmonth','Sep2018')
file_sep_2019_df.insert(1,'yearmonth','Sep2019')
file_sep_2020_df.insert(1,'yearmonth','Sep2020')

In [6]:
# Concacendate all the September only data from 2015-2020 along rows, axis=0
sep_pre_covid_df = pd.concat([file_sep_2015_df, file_sep_2016_df, file_sep_2017_df, file_sep_2018_df, file_sep_2019_df, file_sep_2020_df], axis=0)
sep_pre_covid_df

,tripduration,yearmonth,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,member_casual,birth year,gender
0,61,Sep2015,9/21/2015 14:53,9/21/2015 14:54,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,Subscriber,member,1975.0,1
1,290,Sep2015,9/21/2015 14:55,9/21/2015 15:00,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,casual,NaN,0
2,786,Sep2015,9/21/2015 14:56,9/21/2015 15:09,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,member,1962.0,1
3,477,Sep2015,9/21/2015 14:58,9/21/2015 15:06,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,member,1977.0,2
4,451,Sep2015,9/21/2015 14:59,9/21/2015 15:07,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,member,1977.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,Sep2020,05:35.1,10:05.3,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,member,1963.0,2
53829,400,Sep2020,09:03.5,15:44.0,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,member,1984.0,1
53830,206,Sep2020,11:34.3,15:00.5,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,member,1993.0,1
53831,216,Sep2020,11:49.2,15:25.7,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,member,1966.0,1
53832,418,Sep2020,12:31.8,19:30.5,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,member,1991.0,1

In [7]:
sep_pre_covid_df.dtypes

tripduration                 int64
yearmonth                   object
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
member_casual               object
birth year                 float64
gender                       int64
dtype: object

In [8]:
# Save output csv file for month of September per Covid citibike trip data
sep_pre_covid_df.to_csv('Output/sep_pre_covid.csv',index=False, header= True)